<div class="services-section">
    <div class="container text-center">
        <h1 class="services-title">SERVICIOS</h1>
        <hr class="underline">
        <p class="subtitle">Estamos listos para atenderte.</p>
        <div class="row">
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="service-box">
                    <div class="icon mb-2">
                        <i class="bi bi-briefcase"></i>
                    </div>
                    <h3 class="service-title">Ventas</h3>
                    <p class="service-text">Venta de los mejores repuestos de partes de motor, cajas, transmisiones, piñones, coronas y trenes fijos de las marcas de Korea y Japon. A los mejores precios del mercado.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="service-box">
                    <div class="icon mb-2">
                        <i class="bi bi-telephone"></i>
                    </div>
                    <h3 class="service-title">Asesoría</h3>
                    <p class="service-text">Le brindamos una asesoría personalidad acerca de nuestros productos, a elegir el mejor repuesto para su movilidad.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="service-box">
                    <div class="icon mb-2">
                        <i class="bi bi-truck"></i>
                    </div>
                    <h3 class="service-title">Delivery</h3>
                    <p class="service-text">Compras sin salir de casa, realizamos entregas a domicilio en el menor tiempo posible.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="service-box">
                    <div class="icon mb-2">
                        <i class="bi bi-boxes"></i>
                    </div>
                    <h3 class="service-title">Productos</h3>
                    <p class="service-text">Contamos con las mejores marcas y calidad de productos del mercado.</p>
                </div>
            </div>
        </div>
    </div>
</div>
