<div class="container mt-5">
    <h1 class="text-center mb-4">Nosotros</h1>
    <div class="row">
        <div class="col-md-3">
            <h3 class="text-center">Equipo</h3>
            <div class="card">
                <img src="assets/img/equipo.jpg" class="card-img-top" alt="Equipo">
                <div class="card-body">
                    <p class="card-text">Descripción del equipo.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h3 class="text-center">Almacén</h3>
            <div class="card">
                <img src="assets/img/almacen.jpg" class="card-img-top" alt="Almacén">
                <div class="card-body">
                    <p class="card-text">Descripción del almacén.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h3 class="text-center">Tienda</h3>
            <div class="card">
                <img src="assets/img/tienda.jpg" class="card-img-top" alt="Tienda">
                <div class="card-body">
                    <p class="card-text">Descripción de la tienda.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h3 class="text-center">Empresa</h3>
            <div class="card">
                <img src="assets/img/empresa.jpg" class="card-img-top" alt="Empresa">
                <div class="card-body">
                    <p class="card-text">Descripción de la empresa.</p>
                </div>
            </div>
        </div>
    </div>
</div>
